@import url(styles.css);

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}
.app-body{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
   height: 70%;
}

.app-header {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: var(--color-text);
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.subtitle {
  font-size: 1.1rem;
  color: var(--color-accent-2);
  font-weight: 400;
  letter-spacing: 0.3px;
}
