@import url(../../styles.css);

.to-do-list-container {
  width: 40%;
  margin:1rem;
  padding: 1rem;
  background-color: #fffdfd;
  border-radius: 12px;
  box-shadow: var(--shadow-medium);
  
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header p {
  font-size: 20px;
  font-weight: 600;
  color:var(--color-text);
  display: flex;
  align-items: center;
  gap: 6px;
}



.header button {
  background-color: var(--color-secondary-dark);
  color: #3d2e32;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.2s;
}

.header button:hover {
  background-color: var(--color-secondary);
}

/* Todo card */
.to-do-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--color-accent-2);
  border-radius: 10px;
  padding: 16px;
  background-color: #fefbfd;
  box-shadow: 0 4px 18px rgba(229, 141, 181, 0.1);
  transition: box-shadow 0.2s;
}

.to-do-card:hover {
  box-shadow:var(--shadow-medium);
}

.card-left .title {
  font-weight: 600;
  font-size: 16px;
  color: #3d2e32;
}

.card-left .desc {
  font-size: 14px;
  color: var(--color-accent-2);
  margin-top: 4px;
}

.card-left .created {
  font-size: 12px;
  margin-top: 8px;
  color:var(--color-accent-3);
}

.card-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-right button {
  background: none;
  border: none;
  font-size: 18px;
  color: var(--color-secondary-dark);
  cursor: pointer;
  transition: transform 0.2s;
}

.card-right button:hover {
  transform: scale(1.1);
}

.card-right button:last-child {
  color: var(--color-accent-2) 
}
